<div class="content portfolio-item-page">
    <div class="portfolio-container">
        <!-- Left Side: Gallery Column -->
        <div class="portfolio-item-gallery">
            <div class="item-description-container">
                <div class="item-space">
                    <h2>{{title}}</h2>
                    <p><strong>Y</strong> {{year}}</p>
                </div>
                <h3 class="subtitle">{{subtitle}}</h3>
                <br>
                <div class="portfolio-item-description">

                    <!-- Main Items -->
                    <div class="description-row main unselectable">
                        {{#each description}}
                            {{#if (eq this.type 'main')}}
                                <p class="description-item main-style">{{this.text}}</p>
                            {{/if}}
                        {{/each}}
                    </div>

                    <!-- Minor Items -->
                    <div class="description-row minor unselectable">
                        {{#each description}}
                            {{#if (eq this.type 'minor')}}
                                <p class="description-item minor-style">{{this.text}}</p>
                            {{/if}}
                        {{/each}}
                    </div>

                </div>
            </div>

            {{#if link}}
                <a href="{{link}}" target="_blank" class="portfolio-item-button {{id}}-button">
                    {{buttonTitle}}
                </a>
            {{/if}}


            <div class="portfolio-item-gallery">
                {{#each images}}
                    {{#if (isVideo this)}}
                        <video class="portfolio-item-media" controls onloadedmetadata="this.volume=0.5" controlsList="nodownload">
                        <source src="{{this}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                    {{else}}
                        <img class="portfolio-media-item" src="{{this}}" alt="Portfolio Image" oncontextmenu="return false;">
                    {{/if}}
                {{/each}}
            </div>

            
            <a href="/portfolio" class="back-link"><img src="/content/icons/arrow.svg" alt="Back"></a>
        </div>

        <!-- Right Side: Active Link List -->
        {{> portfolio-list }}
    </div>
</div>
