<div class="content portfolio-item-page">
    <div class="portfolio-container">
        <!-- Left Side: Gallery Column -->
        <div class="portfolio-item-gallery">
            <div class="item-description-container">
                <div class="item-space">
                    <h2>{{title}}</h2>
                    <p><strong>Y:</strong> {{year}}</p>
                </div>
                <div class="portfolio-item-description">
                    {{#each description}}
                        <p class="desctiption-item">{{this}}</p>
                    {{/each}}
                </div>
            </div>

            <div class="portfolio-item-gallery">
                {{#each images}}
                    {{#if (isVideo this)}}
                        <video class="portfolio-media-item" controls>
                            <source src="{{this}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {{else}}
                        <img class="portfolio-media-item" src="{{this}}" alt="Portfolio Image" oncontextmenu="return false;">
                    {{/if}}
                {{/each}}
            </div>

            
            <a href="/portfolio" class="back-link"><img src="/content/icons/arrow.svg" alt="Back"></a>
        </div>

        <!-- Right Side: Active Link List -->
        <div class="portfolio-list">
            <ul>
                {{#each portfolioItems}}
                <li> <a href="{{this.link}}" class="{{#if (eq this.link ../currentPath)}}active{{/if}}">
                    {{this.title}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
